<!DOCTYPE html>
<html>
<head>
  <title>$title$ - neversleeps.moscow</title>
  <link rel="stylesheet" href="/index.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/default.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>
</head>
<body>
  <header id="main-header">
    <h1 class="title"><a href="/">neversleeps.moscow</a></h1>
    <p class="author">by Nickita Biryulin</p>
  </header>
  $body$
</body>
</html>